<% provide(:title, 'Home') %>
<div class="span9">
  <div class="well well-small">
    <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
    <div class="row-fluid">
      <div id="featured" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <% @products.each do |product| %>

            <li class="span3">
                <div class="thumbnail">
                  <i class="tag"></i>
                  <%= image_tag product.image_url, width: '150' %>
                  <div class="caption">
                    <h5><%= product.name %></h5>
                    <h4><%= link_to "VIEW", product, :class=>"btn" %> <span class="pull-right"><%=product.price%></span></h4>
                  </div>
                </div>
              </li>
                  <% end %>
            </ul>
          </div>
        </div>
        <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#featured" data-slide="next">›</a>
      </div>
    </div>
  </div>
  <h4>Latest Books</h4>
  <ul class="thumbnails">
    <% @products.each do |product| %>

  <li class="span4">
      <div class="thumbnail">
        <%= image_tag product.image_url, width: '150' %>
        <div class="caption">
          <h5><%= product.name %></h5>
          <p>
            <%= truncate(product.description.gsub(/<.*?>/,''), :length => 35) %>
          </p>

          <h4 style="text-align:center">
            <%= link_to 'Add to <i class="icon-shopping-cart"></i>'.html_safe, product, :class=>"btn" %>
            <%= link_to product.price, product, :class=>"btn btn-primary" %>
          </h4>
        </div>
      </div>
    </li>
        <% end %>

  </ul>

</div>