<% provide(:title, "Product details")%>
<div class="span9">

    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
      <li><%= link_to "Products", products_path %> <span class="divider">/</span></li>
      <li class="active">Product Details</li>
    </ul>
    <div class="row">
      <div id="gallery" class="span3">
        <%= link_to image_tag @product.image_url, :style => "width:100%" %>
      </div>
      <div class="span6">
        <h3><%= @product.name %></h3>
        <hr class="soft"/>
        <form class="form-horizontal qtyFrm">
          <div class="control-group">
            <label class="control-label"><span><%= @product.price %> сом</span></label>
            <div class="controls">
              <input type="number" class="span1" placeholder="кол-во"/>
              <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart <i class=" icon-shopping-cart"></i></button>
            </div>
          </div>
        </form>

        <hr class="soft"/>

        <p>
          <%= @product.description %>

        </p>
        <a class="btn btn-small pull-right" href="#detail">More Details</a>
        <br class="clr"/>
        <a href="#" name="detail"></a>
        <hr class="soft"/>
      </div>

      <div class="span9">
        <ul id="productDetail" class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
          <li><a href="#profile" data-toggle="tab">Related Products</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="home">
            <h4>Подробная информация</h4>
            <table class="table table-bordered">
              <tbody>
              <tr class="techSpecRow"><td class="techSpecTD1">Кол-во страниц: </td><td class="techSpecTD2"><%= @product.papers_count %></td></tr>
              <tr class="techSpecRow"><td class="techSpecTD1">Автор:</td><td class="techSpecTD2"><%= @product.author %></td></tr>
              <tr class="techSpecRow"><td class="techSpecTD1">Формат:</td><td class="techSpecTD2"><%= @product.format %></td></tr>
              <tr class="techSpecRow"><td class="techSpecTD1">Год выпуска:</td><td class="techSpecTD2"><%= @product.year %></td></tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="profile">
            <div id="myTab" class="pull-right">
              <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
              <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
            </div>
            <br class="clr"/>
            <hr class="soft"/>
            <div class="tab-content">
              <div class="tab-pane" id="listView">
                <div class="row">
                  <div class="span2">
                    <%= image_tag('products/4.jpg', :alt => "" ) %>
                  </div>
                  <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft"/>
                    <h5>Product Name </h5>
                    <p>
                      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                      that is why our goods are so popular..
                    </p>
                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                    <br class="clr"/>
                  </div>
                  <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                      <h3> $222.00</h3>
                      <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                      </label><br/>
                      <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
                <hr class="soft"/>
                <div class="row">
                  <div class="span2">
                    <%= image_tag('products/5.jpg', :alt => "" ) %>
                  </div>
                  <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft"/>
                    <h5>Product Name </h5>
                    <p>
                      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                      that is why our goods are so popular..
                    </p>
                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                    <br class="clr"/>
                  </div>
                  <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                      <h3> $222.00</h3>
                      <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                      </label><br/>
                      <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
                <hr class="soft"/>
                <div class="row">
                  <div class="span2">
                    <%= image_tag('products/6.jpg', :alt => "" ) %>

                  </div>
                  <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft"/>
                    <h5>Product Name </h5>
                    <p>
                      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                      that is why our goods are so popular..
                    </p>
                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                    <br class="clr"/>
                  </div>
                  <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                      <h3> $222.00</h3>
                      <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                      </label><br/>
                      <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
                <hr class="soft"/>
                <div class="row">
                  <div class="span2">
                    <%= image_tag('products/7.jpg', :alt => "" ) %>
                  </div>
                  <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft"/>
                    <h5>Product Name </h5>
                    <p>
                      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                      that is why our goods are so popular..
                    </p>
                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                    <br class="clr"/>
                  </div>
                  <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                      <h3> $222.00</h3>
                      <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                      </label><br/>
                      <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                      </div>
                    </form>
                  </div>
                </div>

                <hr class="soft"/>
                <div class="row">
                  <div class="span2">
                    <%= image_tag('products/8.jpg', :alt => "" ) %>

                  </div>
                  <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft"/>
                    <h5>Product Name </h5>
                    <p>
                      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                      that is why our goods are so popular..
                    </p>
                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                    <br class="clr"/>
                  </div>
                  <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                      <h3> $222.00</h3>
                      <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                      </label><br/>
                      <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
                <hr class="soft"/>
                <div class="row">
                  <div class="span2">
                    <%= image_tag('products/9.jpg', :alt => "" ) %>

                  </div>
                  <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft"/>
                    <h5>Product Name </h5>
                    <p>
                      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
                      that is why our goods are so popular..
                    </p>
                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                    <br class="clr"/>
                  </div>
                  <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                      <h3> $222.00</h3>
                      <label class="checkbox">
                        <input type="checkbox">  Adds product to compair
                      </label><br/>
                      <div class="btn-group">
                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                      </div>
                    </form>
                  </div>
                </div>
                <hr class="soft"/>
              </div>
              <div class="tab-pane active" id="blockView">
                <ul class="thumbnails">
                  <li class="span3">
                    <div class="thumbnail">
                      <a href="product_details.html">                  <%= image_tag('products/10.jpg', :alt => "" ) %>
                      </a>
                      <div class="caption">
                        <h5>Manicure &amp; Pedicure</h5>
                        <p>
                          Lorem Ipsum is simply dummy text.
                        </p>
                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a href="product_details.html"><%= image_tag('products/11.jpg', :alt => "" ) %></a>
                      <div class="caption">
                        <h5>Manicure &amp; Pedicure</h5>
                        <p>
                          Lorem Ipsum is simply dummy text.
                        </p>
                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a href="product_details.html"><%= image_tag('products/12.jpg', :alt => "" ) %></a>
                      <div class="caption">
                        <h5>Manicure &amp; Pedicure</h5>
                        <p>
                          Lorem Ipsum is simply dummy text.
                        </p>
                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a href="product_details.html"><%= image_tag('products/13.jpg', :alt => "") %></a>
                      <div class="caption">
                        <h5>Manicure &amp; Pedicure</h5>
                        <p>
                          Lorem Ipsum is simply dummy text.
                        </p>
                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a href="product_details.html"><%= image_tag('products/1.jpg', :alt => "") %></a>
                      <div class="caption">
                        <h5>Manicure &amp; Pedicure</h5>
                        <p>
                          Lorem Ipsum is simply dummy text.
                        </p>
                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                      </div>
                    </div>
                  </li>
                  <li class="span3">
                    <div class="thumbnail">
                      <a href="product_details.html"><%= image_tag('products/2.jpg', :alt => "" ) %></a>
                      <div class="caption">
                        <h5>Manicure &amp; Pedicure</h5>
                        <p>
                          Lorem Ipsum is simply dummy text.
                        </p>
                        <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
                      </div>
                    </div>
                  </li>
                </ul>
                <hr class="soft"/>
              </div>
            </div>
            <br class="clr">
          </div>
        </div>
      </div>

    </div>

  <% if logged_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  <% end %>
</div>